/* Landing Styles - Flawed.one */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #400A2B;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 10px 40px;
    gap: 10px;
    max-width: 750px;
}

.title {
    font-family: "Lora", serif;
    font-size: 4em;
    color: cornflowerblue;
}

.intro, .links {
    color: #ffffff;
    font-size: 1.1em;
}

.info-header {
  font-size: 1.6em;
  color: #FF2E62;
  margin-bottom: 15px;
  margin-top: 5px;
}

.info {
  font-size: 1em;
  font-family: "EB Garamond", serif;
  line-height: 1.1em;
}

h4 {
   font-family: "Lora", serif;
   margin-top: 20px;
}

.links-title {
    font-family: "Lora", serif; 
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 22px;
}

.link-section {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  margin-top: 15px;
  max-width: 600px;
}

.link-img:hover {
  transform: scale(1.1);
  transition: ease 0.2s;
}

.social {
  display: flex;
  gap: 12px;
}

.links-text {
  color: cornflowerblue;
  margin: 0px 5px;
  font-style: italic;
}